html>body {
height: auto;
}

html, body {
margin : 0;
padding : 0;
}

body {
background : #333;
overflow-x : hidden;
}

p {
margin-top : 30px;
}

#topBg {
position : absolute; top : 0; left:  0;
width : 100%;
z-index : 0;
}

#topBg img { }

#mainContent{
width : 860px;
margin : auto;
padding-top : 50px;
position : relative;
z-index : 3;
font-family : Verdana,Arial, sans-serif;
font-size : 12px;
}

#logo {
float : left;
background : url('images/logo-transp150_border.png') no-repeat;
width : 200px;
height : 140px;
margin-left : 00px;
}

#menu {
margin-left : 300px;
margin-top : 20px;
width : 500px;
height  : 80px;
padding-top : 1px;
}

#menu ul li { float : left; display : inline; margin-right : 20px;}

#menu a {
display : block;
width : 95px;
padding : 15px 15px 15px 20px;
height : 60px;
font-size : 1.5em;
color : white;
text-decoration : none;
text-shadow: black 0.1em 0.1em 0.2em;
}

#menu a:hover { background : url('images/menuLinkBg_20p.png'); }

#menu a span {
font-size : 0.6em;
color : #ddd;
display : block;
position : relative; top : 2px; left : 3px;
text-shadow: black 0.1em 0.1em 0.2em;
width : 80px;
text-align : center;
}

#center {
background : url('images/centerBg_20p_white.png') center center;
margin-top : 75px;
border : 0px solid rgba(51, 51, 51, 0.5);
width : 840px;
height : 470px;
padding : 30px;
font-family : Verdana,Arial, sans-serif;
border-radius: 25px;
color : #444;
}

#center h1 {
color : #E05F14;
font-size : 25px;
margin-bottom : 10px;
margin-top : 5px;
}

.pics {  
    height:  302;  
    width:   402;  
    padding: 0;  
    margin:  0;
    float: right;
    margin-left : 40px;
    margin-bottom : 20px;
    margin-top : 30px;
} 
 
.pics img {  
    padding: 15px;  
    border:  1px solid #ccc;  
    background-color: #fff;  
    width:  400px; 
    height: 300px; 
    top:  0; 
    left: 0 
}

img.contactImg {
float : right;
margin : 20px;
width : 329px;
}

#coordonnees {
margin : 25px;
padding-left : 15px;
border-left : 3px solid #e86200;
}

#coordonnees a {
color : #e86200;
text-decoration : none;
border-bottom : 1px dashed #e86200;
}

#coordonnees a:hover {
color : #e86200;
text-decoration : none;
border-bottom : 1px solid #e86200;
}

#coordonnees p {
margin : 10px;
}

form#contact {
color : #666;
margin-top : 25px;
}

form#contact label {
text-align : right;
float : left;
width : 110px;
margin-right : 10px;
}

form#contact input {
border : 1px solid #666;
width : 260px;
}

form#contact textarea {
border : 1px solid #666;
}


form#contact p {
margin : 5px;
}

form#contact input.submit {
border : 1px solid #666;
background : #ccc;
margin-left : 220px;
width : 70px;
}


